:root{
    --mainpink: #d76983;
    --darksecondary: #796066;
    --lightpurple: #8a8aba;
    --darkpurple: #836ca8;
    --off-white: #FFF6F6;
}

@font-face {
    font-family: 'nohemi';
    src: url(../fonts/Nohemi/Nohemi-Bold.ttf);
}

@font-face {
    font-family: 'nohemi-med';
    src: url(../fonts/Nohemi/Nohemi-Medium.ttf);
}

@font-face {
    font-family: 'nohemi-semi-bold';
    src: url(../fonts/Nohemi/Nohemi-SemiBold.ttf);
}

@font-face {
    font-family: 'nohemi-light';
    src: url(../fonts/Nohemi/Nohemi-Light.ttf);
}

@font-face {
    font-family: 'nohemi-black';
    src: url(../fonts/Nohemi/Nohemi-Black.ttf);
}

@font-face {
    font-family: 'nohemi-extra-light';
    src: url(../fonts/Nohemi/Nohemi-ExtraLight.ttf);
}

@font-face {
    font-family: 'nohemi-reg';
    src: url(../fonts/Nohemi/Nohemi-Regular.ttf);
}

@font-face {
    font-family: 'rubik-med';
    src: url(../fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'rubik-reg';
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'rubik-bold';
    src: url(../fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    /* font-family: 'roboto-regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf); */
}

body{
    margin: 0;
    background-color: var(--off-white);
    color: black;
    text-decoration: none;
    font-family: 'rubik-reg', 'sans-serif';
}

img, video{
    border-radius: 15px;
}

h1{
    margin-top: 1vw;
    font-family: 'nohemi';
    font-size: 6em;
    color: var(--mainpink);
}

h2{
    font-family: 'rubik-bold';
    font-size: 3em;
    color: white;
}

h3{
    font-family: 'rubik-med';
    font-size: 1.5em;
    color: var(--darksecondary);
}

h4{
    font-family: 'rubik-med';
    font-size: 1em;
    color: var(--darksecondary);
}

h5{
    font-family: 'nohemi-light';
    font-size: 1.2em;
    color: var(--darksecondary);
    margin-bottom: 0;
}

h6{
    font-family: 'nohemi-med';
    font-size: 1em;
    color: var(--darksecondary);
}

p{
    text-align: left;
    color: #6e6e6e;
    font-size: 17px;
    line-height: 1.5;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Entire track */
::-webkit-scrollbar-track {
background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--mainpink); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ba556d; 
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: #9c4257; 
}

::selection{
    background-color: #ddbbc3;
}


/* HAMBURGER MENU */
#menu-toggle{
    font-weight: bold;
    font-size: 5em;
    display: block;
    position: fixed;
    top: 0.5em;
    right: 0.5em;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    display: inline-block;
    position: relative;
}

#menu-toggle a:hover{
    color: rgb(252, 212, 212);
}

#menu-toggle a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: rgb(252, 212, 212);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#menu-toggle a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu-toggle input{
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: -0.2em;
    left: -0.3em;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menu-toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--mainpink);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: 
                transform 0.3s cubic-bezier(0.5,0.2,0.0,1.0),
                background 0.3s cubic-bezier(0.77,0.2,1.0,0.05),
                opacity 0.5s ease;
}

#menu-toggle span:first-child{
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 #menu-toggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: white;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menu-toggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Oh yeah and the last one should go the other direction
  */
 #menu-toggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu{
  position: absolute;
  width: 3em;
  /* margin: -1em 0 0 -0.5em; */
  /* margin: -100px 0 0 -225px; */
    margin: -100px 0 0 -245px;

  padding: 0.5em;
  padding-top: 1.25em;
  border-radius: 0 0 0 15px;
  
  background: var(--lightpurple);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  /* transform: translate(100%, 0); */
  transform: translate(0%, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  /* transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */

}

#menu li{
  padding: 0.5em 0;
  font-size: 1.30rem;
}

/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul{
  transform: none;
}

/* INDEX STYLES */

#index-title{
    color: var(--mainpink);
    font-family: 'nohemi';
    text-decoration: underline;
    font-style: normal;
}

#index-title:hover, #index-rest:focus{
    cursor: pointer;
}

.RWlogo{
    width: 2.5rem;
    display: block;
    position: fixed;
    top: 2em;
    left: 2em;

    z-index: 1;
    border-radius: 0;
}

.nav-bar{
    display: flex;
}

.landing-grid{
    /* margin-top: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 5rem;
    align-items: center;
}
.landing-flex{
    display: flex;
    gap: 1rem;
    align-items: center;
}
img.purple-squiggle{
    border-radius: 0;
    width: auto;
    height: 1rem;
}

.landing-experience{
    background-image: url(../img/landing-ellipse-purple.png);
    background-size: 30rem;
    background-repeat: no-repeat;
}
p.landing-first-line{
    font-size: 2.5rem;
    margin: 0;
}
.landing-second-line{
    margin: 0;
    font-size: 6rem;
    color: var(--mainpink);
}
.landing-last-line{
    margin-top: 1rem;
    font-size: 1rem;
}
h3.landing-exp{
    margin-bottom: 0;
    padding-bottom: 0;
}
p.landing-exp-points{
    margin-top: 1rem;
}
.landing-exp, .landing-exp-points{
    color: var(--off-white);
    margin-left: 7rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
}

/* https://blog.logrocket.com/create-parallax-scrolling-css/#implement-parallax-effect-css */
/* https://codepen.io/robatronbobby/pen/KKRrKNz?editors=1100 */

.landing-title{
    text-align: center;
    font-size: 3rem;
}

.projects{
    /* margin: 6rem; */
    margin: 8rem;
}

.projects a{
    text-decoration: none;
}

.parallex-container{
    height: 30vw;
    
    /* background-attachment: fixed; */
    background-color: #bafd7f;
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 0;
    margin-bottom: 5em;
    border-radius: 15px;
    transition: background-size 0.5s ease;
}

.parallex-container:hover, .parallex-container:focus{
    background-size: 115%;
    transition: background-size 0.5s ease;

    /* z-index: -1; */
    text-decoration: none;
    text-decoration-line: none;
}

.index-subtext{
    font-size: 105%;
    line-height: 140%;
}

.one{
    color: var(--mainpink);
    font-family: "nohemi-reg";
    margin-top: -4rem;
    margin-bottom: 0;
    font-size: 120%;
}

.two{
    margin-top: 0;
    margin-bottom: 4rem;
}

.banquet{
    background-image: url(../img/main-banquet.png);
    background-position: center;
}

.pacwest{
    background-image: url(../img/main-pacwest.png);
    background-position: center;
}

.icsworkbook{
    background-image: url(../img/main-ics.png);
    background-position: center;
}

.syph{
    background-image: url(../img/main-syph.png);
    background-position: center;
}

.vidpoem{
    background-image: url(../img/main-video-poem.png);
    background-position: center;
}

.para-a{
    display: inline-block;
    margin-top: 27rem;
    margin-left: 0.25em;

    border-radius: 0.3em;
    background-color: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.3s ease;
}

.para-a:hover, .para-a:focus{
    color: var(--mainpink);
}

/* END INDEX STYLES */

/* ABOUT STYLES */

.about-bg{
    background-image: url(../img/about-bg.jpg);
    background-position: center;
    background-attachment: fixed;
}

content{
    margin-top: 5%;
    margin-left: 10%;
}

.about-grid{
    display: grid;
    margin-left: 5rem;
    margin-top: 5rem;
    grid-template-columns: 1.5fr 1.25fr;
    justify-content: center;
    gap: 10rem;
}

img.abt-purple-squiggle{
    border-radius: 0;
    width: auto;
    height: 0.75rem;
}
p.abt-landing-first-line{
    font-size: 2rem;
    margin: 0;
}
.abt-landing-second-line{
    margin: 0;
    font-size: 4rem;
    color: var(--mainpink);
}

.about-flex1{
    /* margin-right: 8%; */
    color: #6e6e6e;
}

.about-flex2{
    /* margin-right: 30%; */
}

.about-body{
    /* margin-right: 5rem; */
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.about-title{
    color: var(--darksecondary);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-titles-socials{
    font-family: 'rubik-bold', sans-serif;
    margin-top: 3vh;
}

.email-link{
    text-decoration: none;
}

/* https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.about-items{
    font-family: 'Rubik-Med';
    color: var(--mainpink);

    display: inline-block;
    position: relative;
    margin-bottom: 0.25rem;
    margin-top: 0;
}

.about-items::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--darksecondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about-items:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about-items:hover, .about-items:focus{
    color: var(--darksecondary);
}

.resume-btn{
    background-image: url(../img/landing-ellipse-purple.png);
    background-size: 9rem;
    background-repeat: no-repeat;
    margin-top: 1rem;
}

/* https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css */
.resume-button{
    font-family: 'nohemi-med';
    font-size: 1.5rem;
    background: none;
    color: var(--off-white);    

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    border: none;
    transition: color 0.3s ease;
}

.resume-button:hover{
    color: var(--mainpink);
    cursor: pointer;
}

.about-imgs{
    margin-top: 5rem;
}
.about-img-flex{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}
.about-half{
    width: 13.5rem;
    height: auto;
}
.about-full{
    width: 28rem;
    height: auto;
    margin-bottom: 1rem;
}

.about-footer{
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: left;
    margin-left: 11.25rem;
}

.exp-title{
    margin-top: 5rem;
    /* font-size: 2rem; */
}

.about-resume-exp{
    margin-bottom: 3rem;
}

h5.about-job-title{
    margin: 0;
    /* font-weight: 400; */
}
h6.about-job-details{
    margin: 0;
    margin-top: 0.5rem;
    font-family: 'rubik-reg';
    font-weight: 100;
    color: #AA8F95;
}
.about-job-points{
    color: var(--darksecondary);
}

/* MEDIA QUERIES ABOUT */
@media (max-width: 900px){
    .about-flex{
        margin-top: 15%;
        margin-left: 0;
    }

    .about-flex1{
        margin-right: 1vw;
        width: 50%;
    }

    .about-flex2{
        margin-right: 0;
    }

    /* #menu-toggle{
        background-color: rgba(255, 246, 246, 40%);
        padding: 5%;
        margin-left: -5vw;
    } */
}

@media (max-width: 600px){
    .about-flex{
        display: inline;
        margin-left: 2rem;
    }

    .about-body{
        width: 90%;
    }

    .about-flex1, .about-flex2{
        margin-left: 2rem;
        width: 90%;
    }

    .about-flex1{
        margin-top: 20%;
    }

    .about-flex2{
        margin-top: 7%;
    }
}

@media (max-width: 400px){
    .about-title{
        font-size: 10vw;
    }

    .about-flex1{
        margin-top: 30%;
    }

    .about-flex2{
        margin-top: 10%;
    }
}


/* END ABOUT STYLES */

/* GRAPHIC DESIGN STYLES */

#index-rest{
    width: 40%;
}

.index-rest{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    color: #796066;
    font-family: 'nohemi-med';
    font-size: 45px;
}

.page-content{
    margin-top: 3%;
    margin-left: 100px;
    margin-right: 100px;
}

/* DOUGLAS ROYALS */

.banquet-top-img{
    background-image: url(../img/main-banquet.png);

    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: var(--off-white);
    font-family: 'rubik-med', sans-serif;
}

.pacwest-top-img{
    background-image: url(../img/main-pacwest.png);

    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: var(--off-white);
    font-family: 'rubik-med', sans-serif;
}

.cta-button{
    justify-content: center;
}

.simple-flex{
    display: flex;
    justify-content: center;
}

.flex-img{
    display: flex;
    justify-content: center;
}

.flex-imgs{
    width: 35%;
    height: 35%;
    margin: 1%;
}

.quick-flex{
    display: flex;
}

.button-flex{
    margin-right: 1vw;
}

.doug-top-img{
    background-image: url(../img/main-doug.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: var(--off-white);
    font-family: 'rubik-med', sans-serif;
}

.doug-modules{
    display: flex;
    flex: 2;
}

.mod-pics{
    height: 30%;
}

.tab{
    background: transparent;
    grid-template-rows: 1fr 1fr;
}

.tabs{
    margin-bottom: 5%;
    display: flex;
    background: transparent;
    height: 20%;
    width: 80%;
}

.label-douglas-headings{
    padding: 1em;

    position: -webkit-sticky;
    position: sticky;
    top: 3%;
    /* https://www.w3docs.com/tools/code-editor/9895 */
}

.mini-headers-tab{
    font-family: 'nohemi-med', sans-serif;
    font-size: 20pt;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: var(--darksecondary);
    justify-content: left;
    text-align: left;
}

.doug-overview-text{
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
}

/* PACWEST VOLLEYBALL CHAMPIONSHIPS */
.left-flex-img{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.left-progress-img{    
    width: 90%;
}

.image-text-flex{
    display: flex;
    justify-content: center;
}

.image-text-flex1{
    width: 40rem;
    margin-right: 3rem;
    text-align: center;
}

.image-text-flex2{
    width: 20rem;
}

.reflection-text{
    padding-left: 12vw;
    padding-right: 12vw;
}

.left-img-flex{
    display: flex;
    flex-direction: row;
}

.vball-new-line{
    margin-top: 2vh;
}

.left-image-caption{
    font-size: 0.75rem;
    text-align: center;
}

.vball-champ-pg-flex{
    text-align: left;
}

.be-smaller{
    width: 50%;
}

.be-smallest{
    width: 30%;
}

.be-smallish{
    width: 65%;
}

/* MEDIA QUERIES DOUGLAS ROYALS */

@media (max-width: 750px){
    .image-text-flex1{
        width: 100%;
        margin-right: 2%;
    }

    .image-text-flex2{
        width: 100%;
        margin-right: 0;
    }

    .left-img-flex{
        display: inline;
    }

    .tabs .tab{
        padding: 0;
    }

    .tabs{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 600px){
    .image-text-flex{
        margin-top: 2vh;
        display: inline;
    }
}

/* END OF DOUGLAS ROYALS */

/* VIDEO POEM POETRY TAKE A ST. AND */

.vidpoem-top-img{
    background-image: url(../img/main-video-poem.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: var(--off-white);
    font-family: 'rubik-med', sans-serif;
}

.youtube-vid{
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow: hidden;
    border-radius: 15px;
}

iframe{
    width: 850px;
    height: 500px;
}

/* END OF VIDEO POEM POETRY TAKE A ST. AND */

/* NEW NEW NEW NEW NEW NEW NEW */

.desc-heading{
    margin: 0;
}

.quick-text{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
}

.single-img{
    width: 1040px;
    /* 704 differnce */
    /* height is 911 figma,  1615px here*/
    height: auto;
}

.smaller-img{
    width: 550px;
    height: auto;
}

.skinny-img{
    width: 300px;
    height: auto;
}

.tall-img{
    /* +600 */
    /* height: 2215px; */
    height: auto;
    width: 1040px;
}

.video-embed{
    width: 850px;
    height: auto;
}

.grid-item{
    align-content: center;
}

.grid-item-inside{
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.img-ab-1, .img-ab-4, .img-ab-5{
    width: 690px;
    height: auto;
}

.img-ab-3, .img-ab-6, .img-ab-2{
    width: 340px;
    height: auto;
}

/* FOOTER */

.footer-text{
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    /* padding-left: 3rem; */
}

/* END OF FOOTER */

/* MEDIA QUERIES INDEX PAGE */

@media screen and (max-width:930px) {

    .parallex-container{
        height: 300px;
        background-size: 110%;
        /* width: 115%; */
    }

    .parallex-container:hover, .parallex-container:focus{
        background-size: 125%;
    }

    .projects{
        margin: 3rem;
    }
}

@media screen and (max-width:600px) {

    .parallex-container{
        height: 250px;
        /* background-size: 140%; */
        background-size: 550px;
    }

    .parallex-container:hover, .parallex-container:focus{
        /* background-size: 130%; */
        background-size: 580px;
    }

    .projects{
        margin: 1rem;
    }

    .banquet{
        margin-top: 20%;
    }
}

/* END OF MEDIA QUERIES INDEX PAGE */


/* MEDIA QUERIES PROJECT PAGES */
@media screen and (max-width:1030px) {
    .single-img{
        width: 600px;
        height: auto;
    }

    img, video{
        border-radius: 15px;
    }

    .video-embed{
        width: 600px;
        height: auto;
    }

    iframe{
        width: 650px;
        height: 300px;
    }    
}

@media screen and (max-width:650px) {
    .index-rest{
        font-size: 30px;
    }

    .single-img, .smaller-img{
        width: 400px;
        height: auto;
    }

    .video-embed{
        width: 400px;
        height: auto;
    }

    iframe{
        width: 650px;
        /* height: 400px; */
        height: 250px;
    }

    .quick-text{
        /* padding-left: 3%; */
        padding-left: 0;
        /* padding-right: 3%; */
        padding-right: 0;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
    }
}

@media screen and (max-width:450px) {
    .index-rest{
        font-size: 20px;
    }

    .single-img, .smaller-img{
        width: 250px;
        height: auto;
    }

    .video-embed{
        width: 300px;
        height: auto;
    }

    iframe{
        width: 450px;
        /* height: 400px; */
        height: 250px;
    }
}


/* END OF MEDIA QUERIES PROJECT PAGES */