:root{
    --mainpink: #d76983;
    --darksecondary: #796066;
    --lightpurple: #8a8aba;
    --darkpurple: #836ca8;
    --off-white: #FFF6F6;

    --border-num: 15px;
}

@font-face {
    font-family: 'nohemi';
    src: url(../fonts/Nohemi/Nohemi-Bold.ttf);
}

@font-face {
    font-family: 'nohemi-med';
    src: url(../fonts/Nohemi/Nohemi-Medium.ttf);
}

@font-face {
    font-family: 'nohemi-semi-bold';
    src: url(../fonts/Nohemi/Nohemi-SemiBold.ttf);
}

@font-face {
    font-family: 'nohemi-light';
    src: url(../fonts/Nohemi/Nohemi-Light.ttf);
}

@font-face {
    font-family: 'nohemi-black';
    src: url(../fonts/Nohemi/Nohemi-Black.ttf);
}

@font-face {
    font-family: 'nohemi-extra-light';
    src: url(../fonts/Nohemi/Nohemi-ExtraLight.ttf);
}

@font-face {
    font-family: 'nohemi-reg';
    src: url(../fonts/Nohemi/Nohemi-Regular.ttf);
}

@font-face {
    font-family: 'rubik-med';
    src: url(../fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'rubik-reg';
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'rubik-bold';
    src: url(../fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'rubik-light';
    src: url(../fonts/Rubik/Rubik-Light.ttf);
}

body{
    margin: 0;
    background-color: var(--off-white);
    color: black;
    text-decoration: none;
    font-family: 'rubik-reg', 'sans-serif';
}

img, video{
    /* border-radius: var(--border-num); */
}

h1{
    margin-top: 1vw;
    font-family: 'nohemi';
    font-size: 6em;
    color: var(--mainpink);
}

h2{
    font-family: 'rubik-bold';
    font-size: 3rem;
    color: var(--darkpurple);
    padding: 0;
    margin: 0;
}

h3{
}

h4{
}

h5{
    font-family: 'nohemi-light';
    font-size: 1.2em;
    color: var(--darksecondary);
    margin-bottom: 0;
}

h6{
    font-family: 'nohemi-med';
    font-size: 1em;
    color: var(--darksecondary);
}

p{
    text-align: left;
    color: #6e6e6e;
    font-size: 17px;
    line-height: 1.5;
}

hr{
    display: block;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
background: none; 
}

::-webkit-scrollbar-thumb {
background: var(--mainpink); 
}

::-webkit-scrollbar-thumb:hover {
background: #ba556d; 
}

::-webkit-scrollbar-thumb:active {
    background: #9c4257; 
}

::selection{
    background-color: #ddbbc3;
}

/* HAMBURGER MENU */
#menu-toggle{
    font-weight: bold;
    font-size: 5em;
    display: block;
    position: fixed;
    top: 0.5em;
    right: 0.5em;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    display: inline-block;
    position: relative;
}

#menu-toggle a:hover{
    color: rgb(252, 212, 212);
}

#menu-toggle a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: rgb(252, 212, 212);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#menu-toggle a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu-toggle input{
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: -0.2em;
    left: -0.3em;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menu-toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: var(--mainpink);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: 
                transform 0.3s cubic-bezier(0.5,0.2,0.0,1.0),
                background 0.3s cubic-bezier(0.77,0.2,1.0,0.05),
                opacity 0.5s ease;
}

#menu-toggle span:first-child{
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

/* Transform all the slices of hamburger into a crossmark */
 #menu-toggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: white;
 } 
 /* But let's hide the middle one */
 #menu-toggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /* Oh yeah and the last one should go the other direction */
 #menu-toggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu{
    position: absolute;
    width: 3em;
    margin: -100px 0 0 -245px;

    padding: 0.5em;
    padding-top: 1.25em;
    border-radius: 0 0 0 var(--border-num);

    background: var(--lightpurple);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop text flickering in safari */

    transform-origin: 0% 0%;
    transform: translate(0%, -100%);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 0.5em 0;
  font-size: 1.30rem;
}

/* And let's slide it in from the right */
#menu-toggle input:checked ~ ul{
  transform: none;
}

/* LOGO AND MENU (TOP STICKY ELEMENTS) */

.RWlogo{
    width: 2.5rem;
    display: block;
    position: fixed;
    top: 2em;
    left: 2em;

    z-index: 1;
    border-radius: 0;
}

.nav-bar{
    display: flex;
}

/* INDEX STYLES */
p.landing-first-line{
    font-size: 1.5vw;
    /* PADDING SHORTHAND: TOP RIGHT BOTTOM LEFT */
    margin: 0 0 5% 0;
    padding: 0;
}

/* https://blog.logrocket.com/create-parallax-scrolling-css/#implement-parallax-effect-css */
/* https://codepen.io/robatronbobby/pen/KKRrKNz?editors=1100 */

.projects{
    margin: 8rem;
}

.projects a{
    text-decoration: none;
}

.parallex-container{
    height: 70vh;
    
    background-color: #bafd7f;
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 0;
    margin-bottom: 5em;
    border-radius: var(--border-num);
    transition: background-size 0.5s ease;
}

.parallex-container:hover, .parallex-container:focus{
    background-size: 107%;
    transition: background-size 0.5s ease;
}

.index-subtext{
    font-size: 105%;
    line-height: 140%;
}

.one{
    color: var(--mainpink);
    font-family: "nohemi-reg";
    margin-top: -4rem;
    margin-bottom: 0;
    font-size: 120%;
}

.two{
    margin-top: 0;
    margin-bottom: 4rem;
}

.banquet{
    background-image: url(../img/main-banquet.jpg);
    background-position: center;
}

.pacwest{
    background-image: url(../img/main-pacwest.jpg);
    background-position: center;
}

.syph{
    background-image: url(../img/main-syph.jpg);
    background-position: center;
}

.bcl{
    background-image: url(../img/main-bcl.jpg);
    background-position: center;
}

.icsworkbook{
    background-image: url(../img/main-ics.jpg);
    background-position: center;
}
/* END INDEX STYLES */

/* ABOUT STYLES */

.about-grid{
    display: grid;
    margin-left: 2rem;
    margin-top: 5rem;
    grid-template-columns: 1.5fr 1.25fr;
    justify-content: center;
    gap: 8%;
}

.about-flex1{
    color: #6e6e6e;
}

.about-body{
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.about-title{
    color: var(--darksecondary);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
.about-items{
    font-family: 'rubik-med';
    color: var(--mainpink);

    display: inline-block;
    position: relative;
    margin-bottom: 0.25rem;
    margin-top: 0;
}

.about-items::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--darksecondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about-items:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.about-items:hover, .about-items:focus{
    color: var(--darksecondary);
}

/* https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css */
.standard-button{
    font-family: 'rubik-med';
    font-size: 20px;
    background: var(--mainpink);
    color: var(--off-white);
    padding: 3% 4% 3% 4%;
    margin-top: 2%;
    border-radius: var(--border-num);
    border-style: none;
    transition: background-color 0.3s ease;
}

.standard-button:hover{
    background-color: var(--darksecondary);
    cursor: pointer;
}

.about-imgs{
    margin-top: 5rem;
}
.about-img-flex{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}
.about-half{
    width: 13.5rem;
    height: auto;
}
.about-full{
    width: 28rem;
    height: auto;
    margin-bottom: 1rem;
}

.exp-title{
    margin-top: 5rem;
}

.about-resume-exp{
    margin-bottom: 1.5rem;
    margin-top: 0;
    padding-top: 0;
}

p.about-job-title{
    font-family: 'rubik-med';
    color: #a2858b;
    margin: 0;
}
h6.about-job-details{
    margin: 0;
    margin-top: 0.5rem;
    font-family: 'rubik-reg';
    font-weight: 100;
    color: #AA8F95;
}

/* MEDIA QUERIES ABOUT */
@media (max-width: 900px){
    .about-grid{
        display: block;
        margin-left: 0;
        justify-content: left;
        background-color: #e5e5e5;
    }
    .about-flex{
        margin-top: 15%;
        margin-left: 0;
    }

    .about-flex1{
        width: 80%;
    }

    .about-flex2{
        margin-right: 0;
    }
}

@media (max-width: 600px){
    .about-flex{
        display: inline;
        margin-left: 2rem;
    }

    .about-body{
        width: 90%;
    }

    .about-flex1, .about-flex2{
        margin-left: 2rem;
        width: 90%;
    }

    .about-flex1{
        margin-top: 20%;
    }

    .about-flex2{
        margin-top: 7%;
    }
}

@media (max-width: 400px){
    .about-title{
        font-size: 10vw;
    }

    .about-flex1{
        margin-top: 30%;
    }

    .about-flex2{
        margin-top: 10%;
    }
}
/* END ABOUT STYLES */

/* ATHLETICS BANQUET */

.youtube-vid{
    margin-top: 7%;
}

.watch-flex{
    display: flex;
    justify-content: center;
}

.button-flex{
    margin-right: 1vw;
}

/* PACWEST VOLLEYBALL CHAMPIONSHIPS */

/* MEDIA QUERIES DOUGLAS ROYALS */
@media (max-width: 750px){
    .image-text-flex1{
        width: 100%;
        margin-right: 2%;
    }

    .image-text-flex2{
        width: 100%;
        margin-right: 0;
    }

    .left-img-flex{
        display: inline;
    }

    .tabs .tab{
        padding: 0;
    }

    .tabs{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 600px){
    .image-text-flex{
        margin-top: 2vh;
        display: inline;
    }
}
/* END OF DOUGLAS ROYALS */

/* ALL PROJECT PAGE STYLING */

.project-title{
    /* SHORTHAND: TOP RIGHT BOTTOM LEFT */
    margin: 5% 0 0 0;
    text-align: center;
    color: var(--darksecondary);
    font-family: 'nohemi-med';
    font-size: 35px;
}

.page-content{
    margin-top: 3%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
}

.desc-text{
    /* PADDING SHORTHAND: TOP RIGHT BOTTOM LEFT */
    margin: 0;
    padding: 5% 17% 0 17%;
}

.desc-text-2{
    margin: 0;
    padding: 2% 17% 0 17%;
}

.desc-heading{
    margin: 0;
    padding: 0;
}

.desc-copy{
    padding: 0;
    margin: 1% 0 0 0;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
}

.video-embed{
    width: 800px;
    height: auto;
}

.project-hero{
    text-align: center;
    margin: 0 -100px 0 -100px;
    padding-top: 5%;
}

.full-media{
    text-align: center;
    margin: 0 -100px 0 -100px;
    margin-top: 5%;
}

.half-media{
    text-align: center;
    margin: 5% 0 0 0;
    padding: 0 17% 0 17%;
}

.proj-img{
    height: auto;
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

/* SYPHILIS */

.syph-phone{
    background-color: #F1E2E6;
}

/* BCL BCLIQUOR BC LIQUOR */

.spr-covers{
    display: flex;
    gap: 3%;
    margin: 5% -100px 0 -100px;
}

.gallery-slideshow{
    position: relative;
    width: 70%;
}

.gallery-text{
    text-align: left;
    align-items: baseline;
}

.gallery-desc{
    width: 73%;
}

.spr-slide-img{
    display: none;
    padding: 0;
    margin: 0;
}

.slide-imgs{
    width: auto;
    height: 33vw;
    border-radius: 0;
}

/* arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: var(--mainpink);
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover , .next:hover{
    color: var(--lightpurple);
}

.prev:active , .next:active{
    color: var(--darkpurple);
}

.next {
    margin-left: 54vw;
    margin-top: 12.5vw;
    border-radius: 3px 0 0 3px;
    transition: 0.3s ease;
}

.prev{
    margin-left: 51vw;
    margin-top: 12.5vw;
    border-radius: 3px 0 0 3px;
    transition: 0.3s ease;
}

/* END OF BCL BCLIQUOR */

/* FOOTER */
.footer-text{
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}
/* END OF FOOTER */

/* MEDIA QUERIES INDEX PAGE */
@media screen and (max-width:930px) {

    /* .landing-grid{
        gap: 0rem;
        grid-template-columns: 0.75fr 1fr;
    } */

    .landing-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding-bottom: 5rem;
        /* align-items: center; */
    }

    img.purple-squiggle{
        height: 0.5rem;
    }
    p.landing-first-line{
        /* font-size: 2rem; */
    }
    .landing-second-line{
        font-size: 4rem;
    }

    .landing-intro{
        /* background-color: #796066; */
    }

    .landing-experience{
        /* background-size: 27rem; */
        background-size: 100%;
        /* background-color: #6e6e6e; */
    }

    .parallex-container{
        height: 300px;
        background-size: 110%;
    }

    .parallex-container:hover, .parallex-container:focus{
        background-size: 125%;
    }

    .projects{
        margin: 3rem;
    }
}

@media screen and (max-width:600px) {

    .parallex-container{
        height: 250px;
        background-size: 550px;
    }

    .parallex-container:hover, .parallex-container:focus{
        background-size: 580px;
    }

    .projects{
        margin: 1rem;
    }

    .banquet{
        margin-top: 20%;
    }
}
/* END OF MEDIA QUERIES INDEX PAGE */


/* MEDIA QUERIES PROJECT PAGES */
@media screen and (max-width:1030px) {
    .single-img{
        width: 600px;
        height: auto;
    }

    img, video{
        border-radius: var(--border-num);
    }

    .video-embed{
        width: 600px;
        height: auto;
    }

    iframe{
        width: 650px;
        height: 300px;
    } 
}

@media screen and (max-width:650px) {
    .index-rest{
        font-size: 30px;
    }

    .single-img, .smaller-img{
        /* width: 400px; */
        width: 100%;
        height: auto;
    }

    .video-embed{
        /* width: 400px; */
        width: 100%;
        height: auto;
    }

    iframe{
        width: 650px;
        height: 250px;
    }

    .quick-text{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 7%;
        padding-bottom: 3%;
    }
}

@media screen and (max-width:450px) {
    .index-rest{
        font-size: 20px;
    }

    .single-img, .smaller-img{
        width: 250px;
        height: auto;
    }

    .video-embed{
        width: 300px;
        height: auto;
    }

    iframe{
        width: 450px;
        height: 250px;
    }
}

@media screen and (max-width:600px) {
    .page-content{
        margin-left: 3%;
        margin-right: 3%;
    }
}

/* END OF MEDIA QUERIES PROJECT PAGES */