@font-face {
    font-family: 'nohemi';
    src: url(../fonts/Nohemi/Nohemi-Bold.ttf);
}

@font-face {
    font-family: 'rubik-med';
    src: url(../fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'rubik-reg';
    src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'rubik-bold';
    src: url(../fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    /* font-family: 'roboto-regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf); */
}

body{
    margin: 0;
    background-color: #fff6f6;
    color: black;
    text-decoration: none;
    font-family: 'rubik-reg', 'sans-serif';
}

h1{
    margin-top: 1vw;
    font-family: 'nohemi';
    font-size: 6em;
    color: #d76983;
}

h2{
    font-family: 'rubik-bold';
    font-size: 3em;
    color: white;
}

h3{
    font-family: 'rubik-med';
    font-size: 1.5em;
    color: #796066;
}

p{
    margin: 0;
    text-align: left;
    color: #6e6e6e;
    line-height: 1.5;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Entire track */
::-webkit-scrollbar-track {
background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #d76983; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ba556d; 
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: #9c4257; 
}

::selection{
    background-color: #ddbbc3;
}


/* HAMBURGER MENU */
#menu-toggle{
    font-weight: bold;
    font-size: 5em;
    display: block;
    position: fixed;
    top: 0.5em;
    left: 0.5em;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menu-toggle a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#menu-toggle a:hover{
    color: rgb(237, 161, 161);
}

#menu-toggle input{
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    top: -0.2em;
    left: -0.3em;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

#menu-toggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #d76983;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menu-toggle span:first-child{
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 #menu-toggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: white;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menu-toggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Oh yeah and the last one should go the other direction
  */
 #menu-toggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }

 #menu{
  position: absolute;
  width: 3em;
  margin: -1em 0 0 -0.5em;
  padding: 0.5em;
  padding-top: 1.25em;
  
  background: #8a8aba;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
  padding: 0.5em 0;
  font-size: 1.30rem;
}

/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul{
  transform: none;
}

/* INDEX STYLES */

.index-title{
    margin-top: 2em;
    margin-left: 1em;
    width: 10em;
    margin-bottom: 1em;
    color: #8a8aba;
    font-family: 'rubik-bold', sans-serif;
    font-size: 5em;
}

.RW{
    width: 30em;
    /* margin-left: 40em;
    margin-top: 1.5em; */
    position: absolute;
    right: 3em;
    top: 2em;
}

/* https://blog.logrocket.com/create-parallax-scrolling-css/#implement-parallax-effect-css */
/* https://codepen.io/robatronbobby/pen/KKRrKNz?editors=1100 */

.projects{
    margin: 2.5rem;
}

.parallex-container{
    min-height: 27em;
    max-height: 27em;
    
    background-attachment: fixed;
    background-image: url(../img/main-graphic-design.png);
    background-size: 100%;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    background-position: center;
    background-size: cover;

    padding: 0;
    padding-bottom: 3.5em;
    margin-bottom: 5em;

    transition: background-size 1s ease;
    transition: brightness 1s ease;
}

.parallex-container:hover, .parallex-container:focus{
    background-size: 110%;
    transition: background-size 1s ease;
    transition: brightness 1s ease;
    -webkit-filter: brightness(60%);
}

.container-title{
    display: none;
}

.parallex-container:hover + .container-title{
    display: block;
    color: #d76983;
    size: 5em;
}

.three-anim{
    background-image: url(../img/main-3d-animation.png);
    background-position: center;
    
}

.two-anim{
    background-image: url(../img/main-2d-animation.png);
    background-position: center;
}

.doug{
    background-image: url(../img/main-doug.png);
    background-position: center;
}

.fly{
    background-image: url(../img/main-flytographer.png);
    background-position: center;
}

.para-a{
    display: inline-block;
    margin-top: 27rem;
    margin-left: 0.25em;

    border-radius: 0.3em;
    background-color: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.3s ease;
}

.para-a:hover, .para-a:focus{
    color: #d76983;
}

.end-card{
    margin-top: 3em;
    margin-bottom: 0;
}

.end-card-img{
    width: 100%;
}

@media (min-width: 50em){

}

/* END INDEX STYLES */


/* ABOUT STYLES */

content{
    margin-top: 5%;
    margin-left: 10%;
}

.about-flex{
    display: flex;
    /* margin-top: 0; */
    margin-top: 3%;
    margin-left: 15%;
    flex: 1fr 1fr;
    justify-content: center;
}

.about-flex1{
    margin-right: 8%;
    color: #6e6e6e;
}

.about-flex2{
    margin-right: 30%;
}

.about-flex2 p{
    margin-top: 1vh;
}

.about-body{
    margin-right: 5%;
    /* line-height: 1.3; */
    line-height: 1.6em;
    margin-top: -2%;
}

.about-titles{
    font-family: 'rubik-bold', sans-serif;
}

.about-title{
    color: #8a8aba;
    /* font-family: 'rubik-bold'; */
    /* font-size: 30pt; */
    font-size: 3rem;
    margin-bottom: 5%;
    margin-top: 0;
}

.about-titles-socials{
    font-family: 'rubik-bold', sans-serif;
    margin-top: 3vh;
}

.about-items{
    margin-bottom: 1.5em;
    color: #d76983;
}

.email-link{
    text-decoration: none;
    font-family: 'Rubik-Bold';
    /* color: #d76983; */
}

/* https://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css */
.resume-button{
    font-size: 1em;
    font-family: 'Rubik-Med';
    background: #d76983;
    color: #FFF6F6;
    outline-color: #d76983;
    outline-style: solid;
    padding: 1em;
    /* border-radius: 10px; */
    border-radius: 0.7em;
    border: none;
    transition: background 0.3s ease;
}

.resume-button:hover{
    background-color: #FFF6F6;
    color: #d76983;
    cursor: pointer;
    border: #d76983;
}

.social-media-icons{
    display: flex;
}

.socials-icon{
    width: 2.5em;
    margin-right: 1em;
    transition: filter 0.3s ease;
    filter: grayscale(0%);
}

#instagram-icon:hover, #instagram-icon:focus, #tiktok-icon:hover, #tiktok-icon:focus, #linkedin-icon:hover, #linkedin-icon:focus{
    filter: grayscale(70%);
}
/* END ABOUT STYLES */


/* GRAPHIC DESIGN STYLES */

.top-img{
    background-image: url(../img/PLSSSSSSSSSSSS.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: #fff6f6;
    font-family: 'rubik-med', sans-serif;
}

.top-title{
    font-size: 3rem;
    color: #8a8aba;
    background: #e7dede;
    padding: 0.2em;
    padding-left: 2em;
}

.tab{
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tabs{
    /* margin-top: 2.5%; */
    margin-bottom: 5%;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    background-color: #216F5F;
    padding-left: 3em;
    padding-right: 3em;
    /* height: 20%; */
    width: 80%;
    color: #796066;
    justify-content: center;
    text-align: center;
}

.tabs label{
    order: 1;
    display: block;
    /* padding: 1rem 2rem; */
    /* margin-right: 0.2rem; */
    margin-bottom: 3%;
    cursor: pointer;
    /* background: transparent; */

    font-weight: bold;
}

.tabs .tab{
    box-sizing: border-box;
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    color: #d76983;

}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.module-pic{
    width: 40%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#module5{
    margin-bottom: 0;
}

.gd-projects{
    margin-left: 25%;
    margin-top: 5%;
}

.micro-modules{
    display: flex;
    margin-left: 17%;
}

/* MICROSITE */

.micro-tabs{
    margin-left: 5rem;
    margin-right: 5rem;
}

.microsite-top-img{
    background-image: url(../img/main-graphic-design.png);

    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: #fff6f6;
    font-family: 'rubik-med', sans-serif;
}

.page-content{
    margin-top: 3%;
}

.mini-headers{
    font-family: 'rubik-med', sans-serif;
    font-size: 20pt;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #796066;
}

.overview-text{
    margin-left: 10em;
}

.overview-text-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overview-flex1, .overview-flex2{
    margin-bottom: 1.5vw;
}

.overview-flex1{
    font-family: 'rubik-bold', sans-serif;
    color: #353535;
}

.overview-flex2{
    font-family: 'rubik-reg', sans-serif;
    margin-left: -50%;
    margin-right: 15vw;
    color: #6e6e6e;
}

/* .micro-process, .micro-mockups, .micro-final-mockups, .micro-dev, .micro-reflection{
    margin-left: 15vw;
    margin-right: 15vw;
} */

/* .micro-process-flex{
    display: flex;
    margin-top: 7%;
} */

/* .wireframe1{
    width: 80%;
}

.wireframe2{
    margin-left: -5%;
} */

/* .micro-mockups-flex{
    display: flex;
    margin-top: 3%;
} */

/* .mockups{
    width: 85%;
}

.orch{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 71%;
}

.now-playing{
    margin-top: 3%;
    margin-bottom: 3%;
} */

#micro-top-page, #monster-top-page{
    font-family: 'rubik-med';
    font-size: 10pt;
    text-decoration: none;
    color:#d76983;
}

.threed-top-img{
    background-image: url(../img/main-3d.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: #fff6f6;
    font-family: 'rubik-med', sans-serif;
}

.film-vid{
    margin-top: 3%;
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

.monster-desc{
    margin-top: 1vw;
    color: #6e6e6e;
    margin-right: 25vw;
}

.monster-process, .monster-reflection{
    margin-left: 15vw;
    margin-right: 15vw;
}

.monster-flex{
    display: flex;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

#monster-chardes{
    width: 95%;
}

#monster-chardes2{
    width: 90%;
}

.monster-flex1{
    margin-right: 2%;
}

#mhouse, #mschool, #mgrad, #mwork{
    width: 95%;
}

.monster-pic-text{
    color: #6e6e6e;
    text-align: center;
    font-size: small;
}

.monster-storyboard{
    width: 98%;
}

#re-top-img{
    background-image: url(../img/main-flytographer.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: #fff6f6;
    font-family: 'rubik-med', sans-serif;
}

/* DOUGLAS ROYALS */

.doug-top-img{
    background-image: url(../img/main-doug.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: #fff6f6;
    font-family: 'rubik-med', sans-serif;
}

.doug-modules{
    display: flex;
    flex: 2;
}

.mod-pics{
    height: 30%;
}

.tab{
    background: transparent;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
}

.tabs{
    margin-bottom: 5%;
    display: flex;
    background: transparent;
    height: 20%;
    width: 80%;
    color: #d76983;
}

.label-douglas-headings{
    /* background-color: #8a8aba;
    background: #8a8aba; */
    padding: 1em;
    /* outline-style: solid;
    outline-width: 0.5em;
    outline-color: black; */

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* https://www.w3docs.com/tools/code-editor/9895 */
}

.tabs label{
    order: 1;
    display: block;
    padding: 1rem 1rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
}

.tabs .tab{
    box-sizing: border-box;
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    color: #796066;

}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

#tab-pics{
    width: 45%;
    height: auto;
}

.mini-headers-tab-first{
    font-family: 'rubik-med', sans-serif;
    font-size: 20pt;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 3%;
    color: #796066;
    justify-content: left;
    text-align: left;
}
.mini-headers-tab{
    font-family: 'rubik-med', sans-serif;
    font-size: 20pt;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #796066;
    justify-content: left;
    text-align: left;
}

.doug-overview-text{
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
}

/* FUND THEIR FUTURE */
.tab-pics-ftf{
    width: 30%;
    height: auto;
}

/* ROYALS RUMBLE */

/* .rr-logos-flex{
    display: flex;
    justify-content: center;
} */

#intramural-poster{
    width: 110%;
}

#intramural-post{
    width: 80%;
}

#rr-logo-img{
    width: 40%;
    height: auto;
    margin-right: 3em;
}

#rr-logo-gif{
    width: 40%;
    height: auto;
}

#rr-phsyical-poster{
    width: 40%;
    height: 40%;
    margin-right: 3em;
}

#rr-ig-poster{
    width: 40%;
    height: 40%;
}

/* PACWEST VOLLEYBALL CHAMPIONSHIPS */
/* .vball-championships-img{ */
.left-progress-img{
    width: 90%;
}

/* .vball-champ-flex{ */
.image-text-flex{
    display: flex;
}

/* .vball-champ-flex1{ */
.image-text-flex1{
    width: 40rem;
    margin-right: 3rem;
}

/* .vball-champ-flex2{ */
.image-text-flex2{
    width: 40rem;
}

/* .vball-champ-flex-img{ */
.left-img-flex{
    display: flex;
    flex-direction: row;
}

.vball-new-line{
    margin-top: 3rem;
}

/* .vball-champ-caption{ */
.left-image-caption{
    font-size: 0.75rem;
    text-align: center;
}

.vball-champ-pg-flex{
    text-align: left;
}

/* RECREATION */
.tab-pics-rec{
    width: 30%;
    margin-bottom: 3rem;
}

#bookmark{
    width: 35%;
}


/* REBRAND FLYTOGRAPHER */

.rebrand-top-img{
    background-image: url(../img/main-flytographer.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    padding-top: 25vw;
    text-align: left;
    color: #fff6f6;
    font-family: 'rubik-med', sans-serif;
}